<%= form_for(@todo) do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "What needs to be done?" %>
    <% if @todo.errors.any? %>
      <% @todo.errors.full_messages.each do |message| %>
        <small class="error"><%= message %></small>
      <% end %>
    <% end %>
  </div>
<% end %>
