<h1>TodoList</h1>
<center id="notice"><%= notice %></center>

<%= render "form" %>

<ul id="todolist">
  <%= render @todos %>
</ul>

<div class="footer">
  Todo: <span id="todo-count">1</span> •
  Done: <span id="completed-count">0</span> •
  Total: <span id="total-count">1</span> •
  <a href="#" id="clean-up">Clean up</a>
</div>
