body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;

  .container {
    margin: 20px auto;
    width: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }

  h1 {
    text-align: center;
  }

  form {
    padding: 0 0 20px;
  }

  input[type=text] {
    display: block;
    width: 478px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 18px;
  }

  ul#todolist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 3px;

      &:hover {
        background-color: #e6e6e6;
      }
    }

    .todo.completed label {
      text-decoration: line-through;
      color: #999;
    }
  }

  .footer {
    margin-top: 10px;
    background: #323232;
    color: #e6e6e6;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    a:link,
    a:hover,
    a:visited {
      color: #e6e6e6;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
